<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Radio Station - Manager</title>
		<%- include('../partials/head'); %>
		<script src="js/ManagerClasses.js"></script>
		<script src="js/Manager.js"></script>
		<link rel="stylesheet" type="text/css" href="css/manager.css">
	</head>
	
	<body>
		<header>
			<%- include('../partials/header'); %>
		</header>
		<nav>
			<%- include('../partials/nav'); %>
		</nav>
		<main>
		
			<section id="time-slots">
				<span>Good Evening, <%= typeof sessionName != 'undefined' ? sessionName : 'N/A' %></span>
				<div class="section-header">
					<h1>Allowed Playtimes</h1>
					<div class="section-header-forms">
						<label for="dj">Select DJ:</label>
						<select onchange="updateInfo()" name="dj" id="dj">
							<option value="" selected disabled>DJs</option>
							<% for (let i = 0; i < 2; i++) { %>
								<option value="<%= i + 1 %>"><%= `${userLists.djList[i].firstName} ${userLists.djList[i].lastName}` %></option>
							<% } %>
						</select>
					</div>
				</div>
				<div class="section-wrapper">
					<form>
						<div class="table-container">
							<table>
								<tbody>
									<tr>
										<th>&nbsp;</th>
										<th>Sun</th>
										<th>Mon</th>
										<th>Tue</th>
										<th>Wed</th>
										<th>Thu</th>
										<th>Fri</th>
										<th>Sat</th>
									</tr>
									<tr>
										<td>00:00</td>
										<td><input type="checkbox" name="timerange" value="sun-0000-0030"></td>
										<td><input type="checkbox" name="timerange" value="mon-0000-0030"></td>
										<td><input type="checkbox" name="timerange" value="tue-0000-0030"></td>
										<td><input type="checkbox" name="timerange" value="wed-0000-0030"></td>
										<td><input type="checkbox" name="timerange" value="thu-0000-0030"></td>
										<td><input type="checkbox" name="timerange" value="fri-0000-0030"></td>
										<td><input type="checkbox" name="timerange" value="sat-0000-0030"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<input type="submit" onclick="confirmTimes(event)" value="Confirm"><span id="time-slots-msg"></span>
					</form>
				</div>
			</section>
			
			<section id="dj-reports">
				<span>&nbsp;</span>
				<div class="section-header">
					<h1>DJ Reports</h1>
					<div class="section-header-forms">
						<label for="report">Select Report:</label>
						<select name="report" id="report">
							<option value="1">DJ Reports</option>
						</select>
					</div>
				</div>
				<div class="section-wrapper">
					<h3 style="margin-top: 0;">General Statistics</h3>
					<ul>
						<li id="dj-reports-aow">Artist of the Week:</li>
						<li id="dj-reports-gow">Genre of the Week:</li>
					</ul>
					<h3>Compared to Producer</h3>
					<ul>
						<li id="dj-reports-prodasssigned"># Producer-assigned songs:</li>
						<li id="dj-reports-songsplayed"># Songs DJ Played:</li>
					</ul>
				</div>
			</section>
			
		</main>
		
		<footer>
			<%- include('../partials/footer'); %>
		</footer>
		
		<%- include('../partials/action-feedback'); %>

	</body>
</html>
